.form-field {
  border: none;
  //background-color: $lightgray;
  background-color: $offwhite;
  font-weight: 600;
  color: $darkgray;
  border-radius: 20px;
  padding: 0.73em;
  &:focus {
    outline: none;
  }
}

.input-icon {
  height: 100%;
  pointer-events: none;
  color: $static-white;
} 